body {
    animation: transitionIn 0.75s;
    -webkit-animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10deg);
        -webkit-transform: translateY(-10deg);
        -moz-transform: translateY(-10deg);
        -ms-transform: translateY(-10deg);
        -o-transform: translateY(-10deg);
}

    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}